.glass {
  backdrop-filter: blur(10px);
}

/*Sizing variables*/
.h-100 {
  height: 26rem;
}

.h-102 {
  height: 28rem;
}

.h-104 {
  height: 30rem;
}

/* Font Sizing variables */

.Small {
  font-size: 10px;
}

.superSmall {
  font-size: 8.25px;
}
